@import '../init/variables';

.footer-wrapper {
  margin-top: 100px;
  border-top: 1px solid #ddd;
  text-align: center;

  svg {
    height: 81px;
    width: 700px;
    max-width: 100%;
  }

  .footer {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        list-style-type: none;
        padding: 30px 0;

        @media all and (max-width: $xs) {
          font-size: 12px;
        }

        a {
          text-decoration: none;
          color: #ddd;
          text-transform: uppercase;
          border-right: 1px solid #ddd;
          display: inline-block;
          padding: 0 15px;

        }

        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }

  .copyright-text {
    color: #ddd;
    padding: 0 15px 15px;

    @media all and (max-width: $xs) {
      font-size: 12px;
    }
  }
}