.homepage-trending-list {
  .trending-listing {
    .heading {
      font-size: 16px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img {
      width: 100%;
    }
  }
}

.homepage, .brand-wrapper {
  .listing {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.level-listing {
  .section-content {
    .card-title {
      max-width: none;

      a {
        padding: 0 15px;
      }
    }
  }

  &.row {
    justify-content: center;
  }
}

.homepage-spotlight {
  li {
    cursor: pointer;
  }
}