@import '../init/variables';

//Story Details
.story-details {
  width: 100%;

  .story-content {
    margin: 0 -15px;

    img {
      width: 100%;
    }
  }

  .story-body {
    padding: 0 15px;

    iframe {
      width: 100% !important;
    }
  }
}
